.cart {
   margin: 0 0.5rem;
   background-color: $white;
   border-radius: 0.5rem;
   width: 360px;
   height: auto;
   position: absolute;
   top: 5rem;
   z-index: 10;

   @include md {
      width: 330px;
      top: 4rem;
      right: 4rem;
      box-shadow: 0 1rem 3rem $grayish-blue;
   }

   .cart__title {
      border-bottom: 0.1rem solid $grayish-blue;
      margin-top: 0;
      padding: 1rem;
      font-weight: 700;
      font-size: 1.1rem;
   }

   .cart__product {
      padding: 1rem;
      margin-top: -0.8rem;
      .cart__product-details {
         display: flex;
         justify-content: space-between;
         align-items: center;

         .cart__product-img {
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: 0.5rem;
            overflow: hidden;
         }

         .cart__product-description {
            margin-left: -2.5rem;
            color: $grayish-blue;

            @include md {
               margin-left: -1.2rem;
            }
         }
         .cart__product-price {
            color: $black;
            font-weight: 700;
            margin-left: 0.8rem;
         }
         .cart__product-delete {
            position: relative;
            width: 14px;
            height: 16px;
            border: none;
            padding: 0.6rem;
            background-color: $white;
            cursor: pointer;
         }
      }
      .cart__checkout-btn {
         border: none;
         border-radius: 0.5rem;
         background-color: $orange;
         padding: 1rem;
         width: 100%;
         color: $white;
         font-size: 1.1rem;
         margin: 0.5rem 0 1rem;
         cursor: pointer;

         @include md {
            padding: 0.6rem;
         }
      }

      .cart__product-empty {
         text-align: center;
         margin: 3.5rem 0;
         color: $dark-grayish-blue;
         font-size: 1.2rem;
      }
   }
}
