.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   position: relative;

   @include md {
      width: 80%;
      margin: 0 auto;
      justify-content: start;
      border-bottom: 1px solid $light-grayish-blue;
   }

   .header__left {
      display: flex;
      align-items: center;
      background-color: white;
      .header-menu {
         margin-right: 1rem;
         margin-top: 0.4rem;
         @include md {
            display: none;
         }
      }
   }

   .header__nav {
      position: absolute;
      background-color: $white;
      top: 0;
      left: 0;
      width: 50%;
      height: 59rem;
      padding: 1rem;
      z-index: 99;

      @include md {
         display: block !important;
         position: static;
         height: auto;
         width: 35%;
         padding: 0;
         padding-top: 1rem;
         margin-left: 3rem;
         .header__nav-close {
            display: none;
         }
      }

      .header__nav-list {
         list-style: none;
         margin-top: 2rem;
         font-weight: 700;

         li:nth-child(2) {
            padding: 1rem 0;
         }
         li:nth-child(4) {
            padding: 1rem 0;
         }

         @include md {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 0;
            padding: 0;
            font-size: 0.9rem;
            color: $dark-grayish-blue;
            cursor: pointer;

            li:hover {
               &:after {
                  content: '';
                  display: inline-block;
                  position: absolute;
                  height: 0.2rem;
                  background-color: $orange;
                  top: 4.8rem;
               }
            }
            li:nth-child(1) {
               &:hover {
                  &:after {
                     width: 4.9rem;
                     margin-left: -4.7rem;
                  }
               }
            }
            li:nth-child(2) {
               padding: 0;
               &:hover {
                  &:after {
                     width: 2rem;
                     margin-left: -2rem;
                  }
               }
            }
            li:nth-child(3) {
               &:hover {
                  &:after {
                     width: 3.5rem;
                     margin-left: -3.3rem;
                  }
               }
            }
            li:nth-child(4) {
               padding: 0;
               &:hover {
                  &:after {
                     width: 2.9rem;
                     margin-left: -2.8rem;
                  }
               }
            }
            li:nth-child(5) {
               &:hover {
                  &:after {
                     width: 3.5rem;
                     margin-left: -3.5rem;
                  }
               }
            }
         }
      }
   }

   .header__right {
      display: flex;
      align-items: center;
      cursor: pointer;

      @include md {
         position: absolute;
         right: 0;
      }
      .header__cart-count {
         position: absolute;
         right: 3.9rem;
         bottom: 1rem;
         font-size: 1rem;
         font-weight: 700;
         color: $white;
         padding: 0 0.2rem;
         background-color: $orange;
         border-radius: 50%;
         @include md {
            bottom: 0;
            right: 2.9rem;
         }
      }
      .header-avatar {
         position: relative;
         width: 29px;
         height: 29px;
         margin-left: 1rem;
         border: 2px solid white;

         &:hover {
            overflow: hidden;
            border: 2px solid $orange;
            border-radius: 50%;
         }
      }
   }
}

.footer {
   padding: 1rem;
   margin-bottom: 1rem;

   @include md {
      margin: 9rem 0 1rem;
   }
   .footer__attribution {
      font-size: 0.75rem;
      text-align: center;
      color: $dark-grayish-blue;
      @include md {
         font-size: 1rem;
      }
      .footer__link {
         font-weight: 700;
         margin-left: 0.2rem;
      }
   }
}
