%slider-icon {
   position: absolute;
   top: 43%;
   z-index: 10;
   cursor: pointer;
   user-select: none;
   background-color: white;
   padding: 0.5rem 0.7rem;
   border-radius: 50%;
   font-size: 0.3rem;

   @include md {
      display: none;
   }
}

.product {
   display: flex;
   flex-direction: column;

   @include md {
      flex-direction: row;
      width: 80%;
      margin: 0 auto;
      margin-top: 3rem;
   }

   .product__slides {
      @include md {
         flex: 1 1 0;
      }
      .product__slider {
         position: relative;
         overflow: hidden;

         .slider__image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            @include md {
               width: 327px;
               height: 250px;
               left: 17%;
               border-radius: 0.5rem;
               overflow: hidden;
            }

            .product__images {
               width: 400px;
               height: 350px;

               // .image {
               //    @include md {
               //       object-fit: contain;
               //    }
               // }
            }
         }

         .product__slider-prev {
            @extend %slider-icon;
            left: 1rem;
         }
         .product__slider-next {
            @extend %slider-icon;
            right: 1rem;
         }
      }

      .slider__thumbnail-wappper {
         display: none;

         @include md {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            gap: 1rem;
         }

         .product__thumbnail-images {
            border-radius: 0.5rem;
            overflow: hidden;
         }
      }
   }
   .product__details {
      padding: 0 1rem;

      @include md {
         flex: 1 1 0;
      }

      .product__details-wrapper {
         @include md {
            width: 80%;
            margin: 0 auto;
         }
      }
      .product__company-name {
         color: $orange;
         text-transform: uppercase;
         font-size: 0.7rem;
         margin-bottom: -0.8rem;
      }
      .product__title {
         font-size: 1.4rem;
         margin-right: 2.5rem;
         margin-bottom: -0.3rem;

         @include md {
            font-size: 2rem;
            margin-top: 1rem;
         }
      }
      .product__description {
         color: $dark-grayish-blue;
         margin-bottom: 0.3rem;
      }
      .product__prices {
         display: flex;
         justify-content: space-between;
         align-items: center;
         position: relative;

         @include md {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 1rem;
         }

         .product__price {
            font-size: 1.4rem;
         }
         .product__discount {
            position: absolute;
            top: 1.9rem;
            color: $orange;
            font-size: 1rem;
            margin-left: 0.8rem;
            padding: 0.2rem 0.5rem;
            background: $pale-orange;
         }
         .product__prev-price {
            color: $grayish-blue;
            font-weight: 700;

            @include md {
               position: absolute;
               top: 2.7rem;
            }
         }
      }
      .product__sets {
         @include md {
            display: flex;
            justify-content: center;
            align-items: center;
         }
      }
      .product__number-set {
         flex: 1 1 0;
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: 1.5rem 0 1rem;
         padding: 0 1rem;
         border-radius: 0.5rem;
         background-color: $light-grayish-blue;
         font-weight: 700;

         @include md {
            margin: 0;
         }
      }
      .product__add-btn {
         flex: 2 1 0;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         padding: 0 1rem;
         margin-bottom: 2rem;
         border: none;
         border-radius: 0.5rem;
         background-color: $orange;
         color: $white;

         @include md {
            margin: 0;
            margin-left: 1rem;
         }

         .product__btn-icon {
            filter: invert(77%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(210%) contrast(101%);
         }
         .product__btn-text {
            font-size: 1.1rem;
            font-weight: 400;
            margin-left: 1rem;
         }
      }
   }
}
