%slider-icon {
   position: absolute;
   top: 43%;
   z-index: 10;
   cursor: pointer;
   user-select: none;
   background-color: white;
   padding: 0.5rem 0.7rem;
   border-radius: 50%;
   font-size: 0.3rem;
}

.product {
   display: flex;
   flex-direction: column;

   @include md {
      flex-direction: row;
      width: 80%;
      margin: 0 auto;
      margin-top: 3rem;
   }

   .product__slides {
      @include md {
         flex: 1 1 0;
      }
      .product__slider {
         position: relative;
         overflow: hidden;

         .slider__image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            @include md {
               position: relative;
               width: 327px;
               height: 250px;
               left: 17%;
               border-radius: 0.5rem;
               overflow: hidden;
               cursor: pointer;
            }
            .product__images {
               width: 400px;
               height: 350px;
            }
         }

         .product__slider-prev {
            @extend %slider-icon;
            left: 1rem;
            @include md {
               display: none;
            }
         }
         .product__slider-next {
            @extend %slider-icon;
            right: 1rem;
            @include md {
               display: none;
            }
         }
      }

      .slider__thumbnail-wappper {
         display: none;

         @include md {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            gap: 1rem;
            cursor: pointer;
         }

         .product__thumbnail-images {
            position: relative;
            width: 70px;
            height: 70px;
            border-radius: 0.5rem;
            overflow: hidden;
         }

         .thumb-active {
            border: 3px solid $orange;
            opacity: 0.4;
         }
      }
   }
   .product__details {
      padding: 0 1rem;

      @include md {
         flex: 1 1 0;
      }

      .product__details-wrapper {
         @include md {
            width: 80%;
            margin: 0 auto;
         }
      }
      .product__company-name {
         color: $orange;
         text-transform: uppercase;
         font-size: 0.7rem;
         margin-bottom: -0.8rem;
      }
      .product__title {
         font-size: 1.4rem;
         margin-right: 2.5rem;
         margin-bottom: -0.3rem;

         @include md {
            font-size: 2rem;
            margin-top: 1rem;
         }
      }
      .product__description {
         color: $dark-grayish-blue;
         margin-bottom: 0.3rem;
      }
      .product__prices {
         display: flex;
         justify-content: space-between;
         align-items: center;
         position: relative;

         @include md {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 1rem;
         }

         .product__price {
            font-size: 1.4rem;
         }
         .product__discount {
            position: absolute;
            top: 1.9rem;
            color: $orange;
            font-size: 1rem;
            margin-left: 0.8rem;
            padding: 0.2rem 0.5rem;
            background: $pale-orange;
         }
         .product__prev-price {
            color: $grayish-blue;
            font-weight: 700;

            @include md {
               position: absolute;
               top: 2.7rem;
            }
         }
      }
      .product__sets {
         @include md {
            display: flex;
            justify-content: center;
            align-items: center;
         }
      }
      .product__number-set {
         flex: 1 1 0;
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: 1.5rem 0 1rem;
         padding: 0 1rem;
         border-radius: 0.5rem;
         background-color: $light-grayish-blue;
         font-weight: 700;

         .product__number-btn {
            padding: 0.5rem;
            border: none;
            background-color: $light-grayish-blue;
            cursor: pointer;
         }

         @include md {
            margin: 0;
         }
      }
      .product__add-btn {
         flex: 2 1 0;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         padding: 0 1rem;
         margin-bottom: 2rem;
         border: none;
         border-radius: 0.5rem;
         background-color: $orange;
         color: $white;
         cursor: pointer;

         @include md {
            margin: 0;
            margin-left: 1rem;
         }

         .product__btn-icon {
            filter: invert(77%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(210%) contrast(101%);
         }
         .product__btn-text {
            font-size: 1.1rem;
            font-weight: 400;
            margin-left: 1rem;

            @include md {
               font-size: 1rem;
            }
         }
      }
   }
}

.lightbox {
   display: none;

   @include md {
      display: block;
   }
   .lightbox__slides {
      @include md {
         flex: 1 1 0;
         width: 38%;
         position: absolute;
         left: 0;
         right: 0;
         top: 20%;
         margin-left: auto;
         margin-right: auto;
      }

      .lightbox__close-icon {
         position: relative;
         width: 14px;
         height: 15px;
         left: 81%;
         bottom: 0.8rem;
         cursor: pointer;
         filter: invert(77%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(210%) contrast(101%);
      }

      .lightbox__slider {
         position: relative;
         overflow: hidden;

         .lightbox__image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            @include md {
               position: relative;
               width: 327px;
               height: 250px;
               left: 17%;
               border-radius: 0.5rem;
               overflow: hidden;
            }
            .lightbox__images {
               width: 400px;
               height: 350px;
            }
         }

         .lightbox__slider-prev {
            @extend %slider-icon;
            left: 4rem;
         }
         .lightbox__slider-next {
            @extend %slider-icon;
            right: 3.8rem;
         }
      }

      .lightbox__thumbnail-wappper {
         display: none;

         @include md {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            gap: 1rem;
            cursor: pointer;
         }

         .lightbox__thumbnail-images {
            position: relative;
            width: 70px;
            height: 70px;
            border-radius: 0.5rem;
            overflow: hidden;
         }

         .lightboxthumb-active {
            border: 3px solid $orange;
            opacity: 0.7;
         }
      }
   }
}
.lightboxActive {
   @include md {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      z-index: 1000;
      background-color: rgba($color: $black, $alpha: 0.7);
   }
}
